*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #74b9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
    margin-top: 20px;
}
.col-md-3{
    background-color: #fff;
    border-radius: 30px;
}
.col-md-3 i{
    font-size: 50px;
}

